
.row {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  
  .row-header {
    background-color: purple;
    color: white;
    height: 50px;
    vertical-align: center;
  }
  
  .row-help {
    background-color: lightgray;
    min-height: 50px;
    vertical-align: center;
  }
  
  .container-main {
    padding: 17px;
  }